#header= "Yaup!"	
	
%p
	Yaup is a minimalist interface for searching yelp. Try something like 
	= link_to("/94110/tacos", "/94110/tacos") + "."
	or 
	= link_to("/portland/strippers", "/portland/strippers") + "."
	
%div#colophon
	Powered by 
	= link_to("Zeke Sikelianos", "http://zeke.sikelianos.com") + ","
	= link_to("Heroku", "http://heroku.com") + ","
	= link_to("Github", "http://github.com/zeke/yaup") + "."
	and the
	= link_to("Yelp API", "http://www.yelp.com/developers") + "."

	